* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #ffffcc;
    background-image: url(../images/seatzbackground.jpeg);
}

header {
    padding: 20px 35px;
    background-color: transparent;
}

header h1 {
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    margin: 0;
    display: inline;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffcc;
    text-decoration: none;
    font-weight: lighter;
}

.hero {
    height: 800px;
}

.hero h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    text-align: center;
    padding-top: 200px;
    font-size: 100px;
    color: #404040;
}

.hero h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-weight: lighter;
    padding: 50px;
}

.hero h2 ul li {
    padding: 10px;
    list-style: none;
}

.experience {
    background-color: black;
    height: fit-content;
    padding: 50px;
}

.experience h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    text-align: center;
    padding: 80px;
    font-size: 80px;
}

.imgp {
    padding: 100px;
    display: flexbox;
    position: relative;
}

.imga {
    padding: 50px;
    position: relative;
    justify-content: center;
}

.info {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 100px;
}

.info h1 {
    font-size: 50px;
    font-weight: lighter;
    padding-top: 50px;
    text-decoration: none;
}

.info p {
    font-size: 20px;
    font-weight: lighter;
    padding: 50px;
    color: #404040;
}

.main {
    color: #ffffcc;
    text-decoration: none;
}

.bodyinfo {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    color: #404040;
    padding: 200px;
    font-size: 30px;
}

.bodyinfo h1 {
    font-weight: lighter;
}

.joinus {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    padding: 20px;
    display: block;
}

.joinus h3 {
    font-weight: lighter;
}

.form-input {
    padding: 40px;
    display: block;
}

.form-input ul {
    list-style: none;
    padding: 20px;
}

.form-input ul li {
    padding: 10px;
}

.labelc {
    background-color: transparent;
    border-style: solid;
    border-color: #ffffcc;
    border-width: thin;
}

.form button {
    color: #404040;
    background-color: #ffffcc;
    border-style: none;
    padding: 8px 18px;
    font-size: 12px;
}

@media screen {
    
}